.historyBox {
    max-width: 850px;
    min-width: 850px;
    margin-top: 50px;
    height: max-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.historyHeader {
    min-width: 900px;
}

.historyRoot {
    min-width: 900px;
}

.history-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-data-root {
    height: fit-content;
    max-height: 300px;
    overflow: auto;
    background-color: #2255ff;
    padding: 20px 15px;
    border-radius: 25px;
    box-shadow: 0px 5px 20px 5px black;
    width: 100%;
}

.table-row {
    width: 100%;
    display: flex;
    flex-direction: "row";
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: 0px 5px 25px 5px black;
    cursor: pointer;
}

.table-row:active {
    box-shadow: 0px 5px 15px 5px black;
}

.column {
    font-size: 20px;
    margin: 0px;
    width: 25%;
    padding: 10px 10px 10px 10px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #000;
    background-color: #e3f2fd;
    white-space: nowrap;
    overflow-x: scroll;
}

.column1 {
    width: 30%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 15px;
}

.column2 {
    width: 30%;
}

.column4 {
    width: 15%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.history-table span {
    font-size: 30px;
    padding-bottom: 5px;
    background-color: #e3f2fd;
    border: none;
}

.table-header {
    border: 2px solid black;
    background-color: cornflowerblue;
    margin: 0px -10px 25px -10;
}

.table-header:active {
    box-shadow: 0px 5px 25px 5px black;
}

.table-header .column {
    cursor: default;
}

.header-col {
    text-align: center;
    font-weight: bold;
    padding-left: 0;
    background-color: cornflowerblue;
    color: white;
}

.table-header span {
    background-color: cornflowerblue;
}

.no-urls {
    font-size: 50px;
    color: white;
    text-shadow: 0px 10px 10px black;
}

.mainbox-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 20px;
}

.mainbox-footer .themed-btn {
    height: 50px;
    padding-top: 5px;
    margin-left: 20px;
}

.mainbox-footer label {
    color: white;
    font-size: 20px;
    margin-right: 20px;
    text-shadow: 0px 10px 10px black;
}

.number-input {
    border-radius: 25px;
    padding: 10px;
    width: 100px;
    font-size: 20px;
    border-width: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e3f2fd;
    text-align: center;
    box-shadow: 0px 5px 25px 5px black;
}

.number-input:focus {
    outline: none;
    box-shadow: 0px 5px 15px 5px black;
}

.loader {
    min-width: 500px;
}
