.history-root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    overflow: scroll;
    min-width: 850px;
    padding: 25px;
}

.history-root::-webkit-scrollbar {
    display: none;
}

.history-mainbox {
    min-width: 800px;
    max-width: 800px;
    height: max-content;
    margin: 50px 25px;
    overflow: auto;
    z-index: 1;
}

.history-details {
    display: flex;
    flex-direction: column;
    color: white;
    width: 90%;
    margin: 10px 0px 0px;
}

.history-details p {
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
    height: 50px;
    display: flex;
    align-items: center;
}

.history-details label {
    font-weight: bold;
    font-size: 20px;
    width: 150px;
}

.history-details span {
    letter-spacing: 2px;
}

.history-details div p {
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 5px 15px;
    width: 60%;
    margin-right: 20px;
    box-shadow: 0px 5px 20px 5px black;
    background-color: #e3f2fd;
    display: inline-block;
    color: black;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
}

.history-details div {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.history-details p div {
    margin: 0;
    height: 50px;
    padding: 5px 0px 0px;
    width: 100px;
    display: inline-block;
}

.locations {
    width: 85%;
    margin-top: 10px;
}

.locations .column {
    width: 33%;
}

.locations span {
    font-size: 30px;
}

.locations .table-header {
    margin-top: 15px;
}

.locations .table-row {
    box-shadow: 0px 5px 25px 5px black;
}

.footer {
    margin-top: 25px;
}

.modal-btn {
    padding: 5px;
    width: 100px;
}
